Plug 'michaeljsmith/vim-indent-object'
Plug 'tpope/vim-commentary'
Plug 'tpope/vim-surround'
Plug 'easymotion/vim-easymotion'
Plug 'preservim/nerdtree'
Plug 'vim-matchit'

" =========================
" === SECTION: Settings ===
" =========================
set backspace=indent,eol,start
set clipboard=unnamed
set hlsearch
set ignorecase
set incsearch
set nostartofline
set number
set relativenumber
set ruler
set showcmd
set showmode
set smartcase
set timeoutlen=400
set easymotion

" =========================
" === SECTION: Mappings ===
" =========================
let mapleader=","

map <leader><esc> :set nohls<cr>


" === Configuration ===
noremap <leader>ev :vs ~/.ideavimrc<cr>
map <leader>vv <Action>(IdeaVim.ReloadVimRc.reload)
nnoremap n nzz
nnoremap N Nzz
nnoremap <leader>, ,
map ]m <Action>(MethodDown)
map [m <Action>(MethodUp)
map ]t <Action>(NextTab)
map [t <Action>(PreviousTab)

map ]d <Action>(GotoNextError)
map [d <Action>(GotoPreviousError)

map ]c <Action>(VcsShowNextChangeMarker)
map [c <Action>(VcsShowPrevChangeMarker)

map <space>hp <Action>(VcsShowCurrentChangeMarker)
map <space>hu <Action>(Vcs.RollbackChangedLines)

" === Windows and Tabs ===
map <c-h> <c-w>h
map <c-j> <c-w>j
map <c-k> <c-w>k
map <c-l> <c-w>l
nnoremap + 5<c-w>>
nnoremap _ 5<c-w><
nnoremap <c-.> 5<c-w><
nnoremap <c-,> 5<c-w><

" === Jump List ===
map <C-o> <Action>(Back)
map <C-i> <Action>(Forward)

" === Search ===
nnoremap <silent> <leader>/ :noh<cr>

"map <silent> <leader>t <Action>(ActivateProjectToolWindow)
map <silent> <leader>t <Action>(SelectInProjectView)


" === Project Management ===
map <leader>s <Action>(FileStructurePopup)

" === FileChooser ===
map <leader>o <Action>(GotoFile)
map <leader>f <Action>(FindInPath)
map <leader>b <Action>(RecentFiles)

" === LSP ===
map gr <Action>(GotoDeclaration)
map <space>e <Action>(ShowErrorDescription)

" === Debugging ===
map <space><space> <Action>(ChooseRunConfiguration)
map <space>dd <Action>(Debug)
map <space>dn <Action>(DebugClass)

map <space>ru <Action>(RunClass)
map <space>rr <Action>(Rerun)

map <space>ru <Action>(Run)
map <space>st <Action>(Stop)

map <space>bb <Action>(ToggleLineBreakpoint)
map <space>BB <Action>(ViewBreakpoints)
map <space>rab <Action>(Debugger.RemoveAllBreakpoints)

" === Formatting and Refactor ===
map <space>f <Action>(ReformatCode)
map <space>rn <Action>(RenameElement)

" === Git ===
map <space>ga <Action>(Annotate)
map <leader>g <Action>(ActivateCommitToolWindow)

" === Section: window management ===
map <C-s>z <Action>(HideAllWindows)
map <C-w><C-o> <Action>(CloseAllEditorsButActive)
map vs <Action>(MoveTabRight)
map vm <Action>(MoveEditorToOppositeTabGroup)

" === Folding ===

map <space>t <Action>(ActivateTerminalToolWindow)

set ideajoin
